<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annotated Video Stream</title>
</head>
<body>
    <h1>Processing Video Stream</h1>
    <img id="video-stream" width="640" height="480" src="{{ url_for('annotated_video') }}" alt="Video stream not available">

    <script>
        const videoElement = document.getElementById('video-stream');
        const eventSource = new EventSource('/annotated_video');

        eventSource.onmessage = function(event){
            if(event.data.includes('streaming done')){
                window.location.href='/';
            }
        };
        videoElement.onended = function(){
            window.location.href = '/';
        }

        videoElement.onload = function(){
            setTimeout(() => {
                videoElement.src = "{{url_for('annotated_video')}}?"+new Date().getTime();});
            };
        

    </script>
   
</body>
</html>
