<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload Video</title>
</head>
<body>
    <h1>Upload a video for YOLOv8 processing</h1>
    <form action="{{ url_for('annotated_video') }}" method="post" enctype="multipart/form-data">
        <input type="file" name="video" accept="video/*">
        <button type="submit">Upload Video</button>
    </form>
    <div id="video-stream"></div>

    <script>
        const videoStream = document.getElementById('video-stream');

        const eventSource = new EventSource("{{url_for('annotated_video')}}");

        eventSource.onmessage = function(event){
            if (event.data == 'END'){
                window.location.href = "{{url_for('upload_video')}}";
            }else{
                const img = new Image();
                img.src = 'data:images/jpeg;base64,'+event.data;
                videoStream.appendChild(img);
            }
        };
    </script>
</body>
</body>
</html>
